.button {
	@include adaptiveValue("width", 300, 220, 800, 550, 1);
	@include adaptiveValue("height", 115, 80, 800, 550, 1);
	background: url("@img/icons/button.png") center / contain no-repeat;
	display: flex;
	justify-content: center;
	transition: all 0.3s ease 0s;
	@media (min-height: em(600)) {
		@include adaptiveValue("width", 400, 320, 1200, 800, 1);
		@include adaptiveValue("height", 150, 115, 1200, 800, 1);
	}
	p {
		@include adaptiveValue("font-size", 32, 26, 800, 550, 1);
		line-height: math.div(39, 32);
		color: #034a3f;
		-webkit-text-stroke: 1px #fff;
		text-transform: uppercase;
		@include adaptiveValue("padding-top", 27, 16, 800, 550, 1);
		padding-left: rem(10);
		@media (min-height: em(600)) {
			@include adaptiveValue("font-size", 46, 34, 1200, 800, 1);
			@include adaptiveValue("padding-top", 30, 20, 1200, 800, 1);
		}
	}
	&:active {
		transform: scale(0.97);
	}
	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	background: url("@img/other/bg.jpg") center / cover no-repeat;
	width: 100%;
	min-height: 100%;
	display: flex;
	position: relative;
	overflow: hidden;

	&__acces {
		flex: 0 1 63%;
	}
	// .preloader__content

	&__content {
		flex: 0 1 37%;
		display: flex;
		align-items: flex-end;
		position: relative;
		width: 100%;
	}

	// .preloader__heroes

	&__heroes {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// .preloader__heroe

	&__heroe {
		position: absolute;
		@media (min-height: em(600)) {
			transform: scale(1.5);
		}
		// .preloader__heroe_1

		&_1 {
			bottom: 0;
			left: rem(-65);
			z-index: 1;
			@media (min-height: em(600)) {
				bottom: rem(80);
			}
		}

		// .preloader__heroe_2

		&_2 {
			bottom: rem(-30);
			left: rem(120);
			z-index: 2;
			@media (min-height: em(600)) {
				bottom: rem(30);
				left: rem(180);
			}
		}
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
		transform: translateX(200px);
		opacity: 0;
		animation: fly_button 1.6s ease forwards 0.6s;
	}
	&._hide {
		display: none;
	}
}
.acces-preloader {
	background-color: rgba(0, 0, 0, 0.8);
	max-height: 100vh;
	width: 65vw;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	overflow: auto;
	margin-right: auto;
	padding: rem(20) rem(65) 0 rem(20);

	&._hide {
		display: none;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}
}

.text-pre {
	font-size: rem(15);
	line-height: math.div(18, 15);
	color: #fff;
	@media (min-height: em(600)) {
		font-size: rem(34);
	}
}
.title {
	@include adaptiveValue("font-size", 66, 36, 1200, 550, 1);
	line-height: math.div(60, 48);
	text-align: center;
	letter-spacing: 0.04em;
	color: #e6f9ff;
	-webkit-text-stroke: 1px#7448F1;
	text-shadow: 0px 4px 6px rgba(67, 131, 255, 0.61), 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.block-bet {
	width: 100%;
	&._hold {
		pointer-events: none;
		opacity: 0.3;
	}
	&__title {
		font-family: "Intro";
		font-size: rem(14);
		line-height: math.div(17, 14);
		color: #ffffff;
		@media (min-height: em(600)) {
			font-size: rem(20);
		}
	}

	&__count-row {
		display: flex;
		align-items: center;
		column-gap: rem(5);
	}

	// .block-bet__controls

	&__controls {
		min-height: rem(28);
		position: relative;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 2fr;
		column-gap: rem(5);
		@media (min-height: em(600)) {
			min-height: rem(50);
		}
		&._hold {
			transition: all 0.6s ease 0s;
			pointer-events: none;
			opacity: 0.3;
		}
	}

	&__min,
	&__max {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
		border-radius: 4px;
		transition: all 0.3s ease 0s;
		&:active {
			transform: translateY(2px);
		}
	}

	&__minus,
	&__plus {
		min-height: 100%;
		background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
		border-radius: 4px;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
	}

	// .block-bet__bet

	&__bet {
		min-height: rem(40);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: rem(15);
		background: linear-gradient(90.39deg, #24282c 4.37%, #272e32 102.11%);
		box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		border: 1px solid #32373a;
		border-radius: rem(4);
		margin-bottom: rem(5);
		@media (min-height: em(600)) {
			min-height: rem(60);
		}
	}

	// .block-bet__coins

	&__coins {
		font-family: "Inter";
		font-weight: 500;
		font-size: rem(14);
		line-height: math.div(17, 14);
		color: #fff;
		&._no-money {
			animation: no-money 0.5s ease 2;
		}
	}
}
.check {
	&._no-money {
		animation: no-money 0.5s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.5s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 2;
	}
}
.money {
	display: flex;
	justify-content: center;
	@include adaptiveValue("height", 50, 30, 1200, 550, 1);
	@include adaptiveValue("width", 220, 130, 1200, 550, 1);
	// .money__body

	&__body {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		column-gap: rem(10);
	}

	&__row {
		min-height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("column-gap", 10, 4, 800, 550, 1);
		background: rgba(0, 0, 0, 0.8);
		border-radius: rem(25);
	}

	// .money__coins

	&__coins {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("font-size", 30, 20, 1200, 550, 1);
		line-height: math.div(30, 25);
		color: #ffffff;
	}
}
.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
	}
}
.text {
	@include adaptiveValue("font-size", 22, 16, 800, 550, 1);
	line-height: math.div(25, 22);
	color: #fff;
	-webkit-text-stroke: 0.5px #000;
	@media (min-width: em(650)) {
		-webkit-text-stroke: 1px #000;
	}
}

//========================================================================================================================================================
