//====================================================================================================
.main {
	// .main__body

	&__body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
		padding: rem(15);
	}

	&__volume {
	}

	// .main__header

	&__header {
	}

	// .main__content

	&__content {
		flex: 1 1 auto;
	}
}
.volume {
	position: absolute;
	bottom: rem(15);
	right: rem(15);
	width: rem(30);
	height: rem(30);
	&._hide {
		animation: volume 2s linear infinite;
	}
}
.header-main {
	// .header__money

	&__money {
	}
}

.content-main {
	display: flex;
	// .content-main__body

	&__body {
		min-height: 100%;
		width: 100%;
		display: flex;
	}

	// .content-main__board

	&__board {
		flex: 0 1 60%;
	}

	// .content-main__actions

	&__actions {
		flex: 0 1 40%;
	}
}
.board-main {
	// .board-main__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
	}

	// .board-main__bg

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: rem(0);
			left: rem(-30);
			max-width: 110%;
			@media (min-height: em(600)) {
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	// .board-main__heroes

	&__heroes {
		display: flex;
		justify-content: center;
		column-gap: rem(25);
		position: relative;
		top: rem(-30);
	}

	// .board-main__heroe

	&__heroe {
		position: relative;
		@include adaptiveValue("width", 130, 100, 800, 550, 1);
		@include adaptiveValue("height", 137, 107, 800, 550, 1);
	}

	// .board-main__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			max-width: 100%;
		}
	}

	// .board-main__man

	&__man {
		position: absolute;
		top: 43%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			max-width: 100%;
		}
		// .board-main__man_1

		&_1 {
		}

		// .board-main__man_2

		&_2 {
		}
	}

	// .board-main__weapon-item

	&__weapon-item {
		position: absolute;
		bottom: 0;
		right: 0;
		@include adaptiveValue("width", 61, 45, 800, 550, 1);
		@include adaptiveValue("height", 61, 45, 800, 550, 1);
	}

	// .board-main__weapon-image

	&__weapon-image {
		height: 100%;
		img {
			max-width: 100%;
		}
	}

	// .board-main__sword

	&__sword {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		height: 75%;
		transform: translate(-50%, -50%);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
		// .board-main__sword_1

		&_1 {
		}

		// .board-main__sword_2

		&_2 {
		}
	}

	// .board-main__buttons

	&__buttons {
		display: flex;
		column-gap: rem(10);
		position: absolute;
		bottom: 0;
		left: 0;
		@media (min-height: em(600)) {
			bottom: rem(30);
			left: rem(100);
		}
		@media (min-height: em(800)) {
			bottom: rem(70);
			left: rem(150);
		}
	}

	// .board-main__button

	&__button {
		position: relative;
		width: rem(82);
		height: rem(84);
		// .board-main__button_team

		&_team {
		}

		// .board-main__button_shop

		&_shop {
		}
	}

	&__button-circle {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
		}
	}
	&__button-icon {
		position: absolute;
		top: 43%;
		left: 52%;
		transform: translate(-50%, -50%);
	}
}

.actions-main {
	// .actions-main__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		@media (min-height: em(600)) {
			row-gap: rem(50);
		}
	}

	// .actions-main__levels

	&__levels {
	}

	// .actions-main__button-box

	&__button-box {
	}

	// .actions-main__button

	&__button {
	}

	// .actions-main__evils-box

	&__evils-box {
	}

	// .actions-main__evils

	&__evils {
		display: flex;
		justify-content: center;
		column-gap: rem(10);
	}

	// .actions-main__evil

	&__evil {
		@include adaptiveValue("width", 63, 50, 800, 550, 1);
		@include adaptiveValue("height", 66, 53, 800, 550, 1);
		@media (min-height: em(600)) {
			@include adaptiveValue("width", 103, 80, 1200, 800, 1);
			@include adaptiveValue("height", 106, 83, 1200, 800, 1);
		}
		position: relative;
	}

	// .actions-main__box

	&__box {
		img {
			max-width: 100%;
		}
	}

	// .actions-main__image

	&__image {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(-50%, -50%);
		img {
			max-width: 60%;
			padding-bottom: rem(10);
		}
		picture {
			display: flex;
			justify-content: center;
		}
		// .actions-main__image_1

		&_1 {
		}

		// .actions-main__image_2

		&_2 {
		}
	}
}
.levels {
	// .levels__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .levels__arrow

	&__arrow {
		@include adaptiveValue("width", 75, 55, 800, 550, 1);
		@include adaptiveValue("height", 75, 55, 800, 550, 1);
		transition: all 0.3s ease 0s;
		&:active {
			transform: scale(0.9);
		}
		// .levels__arrow_left

		&_left {
			background: url("@img/icons/arrow-left.png") center / contain no-repeat;
		}

		// .levels__arrow_right

		&_right {
			background: url("@img/icons/arrow-right.png") center / contain no-repeat;
		}
	}

	// .levels__middle

	&__middle {
		@include adaptiveValue("width", 116, 86, 800, 550, 1);
		@include adaptiveValue("height", 119, 89, 800, 550, 1);
		background: url("@img/icons/circle.png") center / contain no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			@include adaptiveValue("font-size", 50, 36, 800, 550, 1);
			line-height: math.div(60, 50);
			color: #ffffff;
			padding-bottom: rem(15);
		}
	}
}

//========================================================================================================================================================
.team {
	// .team__body

	&__body {
		padding: rem(16) rem(16) 0 rem(16);
		min-height: 100vh;
	}

	// .team__header

	&__header {
	}

	&__rules {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		height: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: rem(50);
		row-gap: rem(50);
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: rem(20);
		border: 1px solid #fff;
		opacity: 1;
		visibility: visible;
		transition: all 0.5s ease 0s;
		p {
			@include adaptiveValue("font-size", 40, 16, 1200, 550, 1);
			line-height: math.div(26, 20);
			color: #fff;
			text-align: center;
		}
		&._hide {
			opacity: 0;
			visibility: hidden;
			top: 0;
		}
	}
	&__rules-button {
		@include adaptiveValue("width", 171, 100, 1200, 550, 1);
		@include adaptiveValue("height", 93, 60, 1200, 550, 1);
		background: url("@img/icons/btn-middle.png") center / contain no-repeat;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	// .header__button-box

	&__button-box {
		@include adaptiveValue("width", 66, 46, 800, 550, 1);
		@include adaptiveValue("height", 66, 46, 800, 550, 1);
	}
	// .header__button-home

	&__button-home {
	}

	// .header__money

	&__money {
	}
}

.button-home {
	display: block;
	width: 100%;
	height: 100%;
	background: url("@img/icons/arrow-left.png") center / contain no-repeat;
	animation: rotate-arrow 20s ease infinite;
}

.content-item {
	&__body {
		position: relative;
		@include adaptiveValue("width", 644, 500, 800, 550, 1);
		min-height: calc(100vh - 82px);
		margin: 0 auto;
		@media (min-height: em(600)) {
			@include adaptiveValue("width", 900, 700, 1200, 800, 1);
		}
	}
	// .content-item__header

	&__header {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		@media (min-height: em(600)) {
			top: rem(70);
		}
	}

	// .content-item__title

	&__title {
		@include adaptiveValue("font-size", 32, 26, 800, 550, 1);
		line-height: math.div(39, 32);
		color: #ffffff;
		-webkit-text-stroke: 1.5px #000;
	}

	// .content-item__icon

	&__icon {
		position: absolute;
		bottom: rem(-10);
		right: rem(50);
		img {
			@include adaptiveValue("max-width", 43, 30, 800, 550, 1);
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		@include adaptiveValue("top", -50, -30, 800, 550, 1);
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		img {
			max-width: 100%;
		}
		@media (min-height: em(600)) {
			top: rem(0);
		}
	}
	// .content-item__heroes

	&__heroes {
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
		max-height: calc(100vh - 135px);
		overflow: auto;
		position: relative;
		@media (min-height: em(600)) {
			top: rem(70);
			max-height: calc(100vh - 345px);
		}
	}

	// .content-item__heroe

	&__heroe {
	}

	// .content-item__store

	&__store {
	}
}

.heroe-team {
	position: relative;
	z-index: 2;
	&._locked {
		.heroe-team__body {
			padding-bottom: rem(25);
		}
	}
	&._active {
		.heroe-team__character {
			border: 3px solid rgba(245, 190, 190, 0.2);
			box-shadow: 0px 0px 5px rgba(245, 190, 190, 0.2), 0px 0px 10px rgba(245, 190, 190, 0.2),
				0px 0px 15px rgba(245, 190, 190, 0.2), inset 0px 0px 15px rgba(245, 190, 190, 0.2);
		}
	}
	&._anim {
		.heroe-team__button-box {
			animation: scale_button 0.4s ease-out 2;
		}
	}
	&._hold {
		pointer-events: none;
		opacity: 0.5;
	}
	// .heroe-team__body

	&__body {
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: flex-end;
		padding: rem(0) rem(50);
	}

	// .heroe-team__character

	&__character {
		position: relative;
		@include adaptiveValue("width", 129, 100, 800, 550, 1);
		@include adaptiveValue("height", 137, 110, 800, 550, 1);
		border: 3px solid transparent;
		border-radius: rem(20);
		transition: all 0.3s ease 0s;
	}

	&__box-locked {
		transform: translateX(-10px);
		img {
			max-width: 105%;
		}
	}

	// .heroe-team__box-hero

	&__box-hero {
		img {
			max-width: 100%;
		}
	}

	// .heroe-team__hero

	&__hero {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 80%;
			object-fit: contain;
		}
	}

	// .heroe-team__weapons

	&__weapons {
		display: flex;
		justify-content: center;
		column-gap: rem(10);
		@media (min-height: em(600)) {
			column-gap: rem(40);
		}
		&._opened {
			position: relative;
			bottom: rem(20);
		}
		&._hold {
			pointer-events: none;
			opacity: 0.7;
		}
	}

	// .heroe-team__weapon

	&__weapon {
		// .heroe-team__weapon_1

		&_1 {
		}

		// .heroe-team__weapon_2

		&_2 {
		}

		// .heroe-team__weapon_3

		&_3 {
		}

		// .heroe-team__weapon_4

		&_4 {
		}
	}

	// .heroe-team__weapon-locked

	&__weapon-locked {
		@include adaptiveValue("width", 80, 60, 800, 550, 1);
		img {
			max-width: 100%;
		}
	}

	// .heroe-team__box-weapon

	&__box-weapon {
		position: relative;
		@include adaptiveValue("width", 72, 50, 800, 550, 1);
		@include adaptiveValue("height", 72, 50, 800, 550, 1);
		@media (min-height: em(600)) {
			@include adaptiveValue("width", 90, 80, 1200, 800, 1);
			@include adaptiveValue("height", 90, 80, 1200, 800, 1);
		}
	}

	// .heroe-team__board

	&__board {
		height: 100%;
		img {
			width: 100%;
		}
	}

	// .heroe-team__sword

	&__sword {
		position: absolute;
		width: 70%;
		height: 65%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: rem(-5);
			left: 0;
			object-fit: contain;
		}
	}

	// .heroe-team__button-box

	&__button-box {
		position: absolute;
		width: 100%;
		@include adaptiveValue("height", 40, 25, 800, 550, 1);
		@include adaptiveValue("bottom", -30, -15, 800, 550, 1);
		left: 50%;
		transform: translateX(-50%);
		&._selected {
			pointer-events: none;
			.heroe-team__button-wing-left {
				left: rem(-15);
			}
			.heroe-team__button-wing-right {
				right: rem(-15);
			}
		}
	}

	// .heroe-team__button

	&__button {
		width: 100%;
		height: 100%;
		transition: all 0.3s ease 0s;
		&:active {
			transform: scale(0.9);
		}
		p {
			position: relative;
			@include adaptiveValue("top", -9, -5, 800, 550, 1);
			z-index: 4;
			@include adaptiveValue("font-size", 14, 8, 800, 550, 1);
			line-height: math.div(17, 14);
			color: #142e4a;
			@media (min-height: em(600)) {
				@include adaptiveValue("font-size", 20, 16, 1200, 800, 1);
				top: rem(-5);
			}
		}
	}
	&__button-wing-left,
	&__button-wing-right {
		position: absolute;
		top: 0;
		z-index: 2;
		max-width: rem(30);
		transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;

		img {
			max-width: 100%;
		}
	}
	&__button-wing-left {
		left: rem(15);
	}
	&__button-wing-right {
		right: rem(15);
	}
	&__button-middle {
		position: absolute;
		top: 0;
		z-index: 3;
		max-width: 100%;
		@include adaptiveValue("left", 6, 3, 800, 550, 1);
		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================
.shop {
	// .shop__body

	&__body {
		padding: rem(16) rem(16) 0 rem(16);
		min-height: 100vh;
	}

	// .shop__header

	&__header {
	}

	// .shop__content

	&__content {
	}
}

.store {
	position: relative;
	z-index: 3;
	// .store__body

	&__body {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 82px);
	}

	// .store__buttons

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .store__button

	&__button {
		@include adaptiveValue("width", 228, 160, 800, 550, 1);
		@include adaptiveValue("height", 100, 80, 800, 550, 1);
		background: url("@img/icons/button.png") center / contain no-repeat;
		filter: grayscale(1);
		transition: all 0.5s ease 0s;
		p {
			padding-left: rem(10);
			@include adaptiveValue("padding-bottom", 18, 10, 800, 550, 1);
		}
		&._active {
			filter: grayscale(0);
		}
		&:active {
			transition: all 0.3s ease 0s;
			transform: scale(0.95);
		}
		// .store__button_heroes

		&_heroes {
		}

		// .store__button_weapons

		&_weapons {
		}
	}

	// .store__actions

	&__actions {
		flex: 1 1 auto;
		display: flex;
		min-height: 100%;
		margin: 0 rem(50);
		position: relative;
	}

	&__actions-item {
		max-height: calc(100vh - 182px);
		overflow: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media (min-height: em(600)) {
			max-height: calc(100vh - 345px);
		}
	}
}
.item-heroes {
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease 0s;
	&._hide {
		opacity: 0;
		visibility: hidden;
	}
	// .heroes-store__body

	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: rem(50);
	}

	&__block-wrapper {
		&:last-child {
			grid-column-start: span 3;
		}
	}
	// .item-heroes__block

	&__block {
		position: relative;
		@include adaptiveValue("width", 141, 121, 800, 550, 1);
		@include adaptiveValue("height", 145, 125, 800, 550, 1);
		margin: 0 auto;
		&._active {
			.item-heroes__hero {
				opacity: 1;
				visibility: visible;
			}
			.item-heroes__button-box {
				opacity: 1;
				visibility: visible;
			}
			.item-heroes__icon {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	// .item-heroes__board

	&__board {
		height: 100%;
		img {
			max-width: 100%;
		}
	}
	//.item-heroes__icon
	&__icon {
		position: absolute;
		width: 50%;
		height: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}

	// .item-heroes__hero

	&__hero {
		position: absolute;
		width: 70%;
		height: 65%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: rem(-5);
			left: 0;
			object-fit: contain;
		}
	}

	// .item-heroes__button-box

	&__button-box {
		position: absolute;
		width: 100%;
		@include adaptiveValue("height", 40, 25, 800, 550, 1);
		@include adaptiveValue("bottom", -15, -5, 800, 550, 1);
		left: 52%;
		transform: translateX(-50%);
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		&:active {
			transform: translateX(-50%) scale(0.95);
		}
		&._hide {
			opacity: 0 !important;
			visibility: hidden !important;
			pointer-events: none !important;
		}
	}

	&__button-image {
		img {
			max-width: 100%;
		}
	}

	&__button-price-box {
		position: absolute;
		top: rem(12);
		left: 55%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: rem(5);
		img {
			@include adaptiveValue("max-width", 30, 20, 800, 550, 1);
		}
	}

	// .item-heroes__button

	&__button-price {
	}
}
.item-weapons {
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease 0s;
	&._hide {
		opacity: 0;
		visibility: hidden;
	}
	// .item-weapons__body

	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: rem(50);
	}
	&__block-wrapper {
	}
	// .item-weapons__block

	&__block {
		position: relative;
		@include adaptiveValue("width", 141, 121, 800, 550, 1);
		@include adaptiveValue("height", 145, 125, 800, 550, 1);
		margin: 0 auto;
	}

	// .item-weapons__board

	&__board {
		height: 100%;
		img {
			max-width: 100%;
		}
	}

	// .item-weapons__hero

	&__weapon {
		position: absolute;
		width: 60%;
		height: 55%;
		top: 47%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: rem(5);
			left: 0;
			object-fit: contain;
		}
	}

	// .item-weapons__button-box

	&__button-box {
		position: absolute;
		width: 100%;
		height: rem(70);
		@include adaptiveValue("bottom", -45, -25, 800, 550, 1);
		left: 52%;
		transform: translateX(-50%);
		transition: all 0.3s ease 0s;
		&:active {
			transform: translateX(-50%) scale(0.95);
		}
		&._hide {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}

	&__button-image {
		img {
			max-width: 100%;
		}
	}

	&__button-price-box {
		position: absolute;
		top: rem(12);
		left: 55%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: rem(5);
		img {
			@include adaptiveValue("max-width", 30, 20, 800, 550, 1);
		}
	}
	&__damage-info {
		position: absolute;
		top: rem(0);
		right: rem(-5);
		@include adaptiveValue("width", 46, 30, 800, 550, 1);
		@include adaptiveValue("height", 46, 30, 800, 550, 1);
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			font-size: rem(15);
			line-height: math.div(20, 16);
			color: #fff;
		}
	}

	// .item-weapons__button

	&__button-price {
	}
}
//========================================================================================================================================================
.game {
	// .game__body

	&__body {
		padding: rem(20) rem(15);
		min-height: 100vh;
		position: relative;
	}

	&__volume {
		left: rem(15);
		bottom: rem(80);
	}

	// .game__button-box

	&__button-box {
		position: absolute;
		top: rem(20);
		left: rem(15);
		@include adaptiveValue("width", 66, 46, 800, 550, 1);
		@include adaptiveValue("height", 66, 46, 800, 550, 1);
		z-index: 2;
	}

	// .game__button-home

	&__button-home {
	}

	// .game__block-info

	&__block-info {
		position: absolute;
		bottom: rem(85);
		right: rem(15);
		z-index: 2;
	}

	// .game__info

	&__info {
	}

	// .game__bacgrounds

	&__bacgrounds {
	}

	// .game__bg

	&__bg {
		position: absolute;
		z-index: 1;
		width: 100%;
		left: 0;
		background: rgba(0, 0, 0, 0.8);

		// .game__bg_1

		&_1 {
			@include adaptiveValue("height", 50, 30, 800, 550, 1);
			top: 0;
		}

		// .game__bg_2

		&_2 {
			@include adaptiveValue("height", 70, 45, 800, 550, 1);
			bottom: 0;
		}
	}

	// .game__field

	&__field {
	}

	&__button-start-box {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		z-index: 3;
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		&._start {
			background-color: rgba(0, 0, 0, 0.01);
			z-index: -1;
			transition: all 0.5s ease 0.5s;
			.game__button-start {
				animation: scale 0.5s ease forwards;
			}
		}
	}
	&__button-start {
		position: relative;
		color: #fff;
		&._anim {
			animation: rotate 5s ease infinite;
		}
		p {
			position: absolute;
			top: 45%;
			left: 52%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("font-size", 28, 20, 800, 550, 1);
		}
		@media (min-height: em(600)) {
			width: rem(220);
			height: rem(230);
			img {
				width: 100%;
			}
			p {
				font-size: rem(50);
			}
		}
	}
}
.info-game {
	// .info-game__body

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(7);
	}

	// .info-game__level

	&__level {
		width: 100%;
		@include adaptiveValue("height", 50, 30, 1200, 550, 1);
		background: rgba(0, 0, 0, 0.8);
		border-radius: rem(25);
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			font-size: rem(25);
			line-height: math.div(30, 25);
			color: #ffffff;
		}
	}

	// .info-game__money

	&__money {
	}
}

.field {
	// .field__body

	&__body {
	}

	// .field__enemys

	&__enemys {
		position: absolute;
		top: rem(20);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		column-gap: rem(20);
		z-index: 2;
		@media (min-height: em(600)) {
			top: rem(120);
		}
	}

	// .field__enemy-box

	&__enemy-box {
		display: flex;
		flex-direction: column;
		row-gap: rem(5);
		@media (min-height: em(600)) {
			row-gap: rem(20);
		}
	}

	// .field__health

	&__health {
	}

	// .field__enemy-energy

	&__enemy-energy {
		width: 100%;
		// .field__energy_1

		&_1 {
		}

		// .field__energy_2

		&_2 {
		}
	}

	// .field__evil

	&__evil {
		@include adaptiveValue("width", 130, 100, 800, 550, 1);
		@include adaptiveValue("height", 140, 110, 800, 550, 1);
		@media (min-height: em(600)) {
			@include adaptiveValue("width", 200, 170, 1200, 800, 1);
			@include adaptiveValue("height", 210, 180, 1200, 800, 1);
		}
		@media (max-height: em(360)) {
			@include adaptiveValue("width", 100, 70, 800, 550, 1);
			@include adaptiveValue("height", 110, 80, 800, 550, 1);
		}
		@media (max-height: em(320)) {
			@include adaptiveValue("width", 80, 60, 800, 550, 1);
			@include adaptiveValue("height", 90, 70, 800, 550, 1);
		}
		position: relative;
		&._enemy-1 {
			animation: enemy-1 2s ease forwards;
		}
		&._enemy-2 {
			animation: enemy-2 2s ease forwards;
		}
		&._enemy-3 {
			animation: enemy-3 2s ease forwards;
		}
		&._enemy-4 {
			animation: enemy-4 2s ease forwards;
		}
		&._enemy-5 {
			animation: enemy-5 2s ease forwards;
		}
		&._enemy-6 {
			animation: enemy-6 2s ease forwards;
		}

		&._enemy-7 {
			animation: enemy-7 2s ease forwards;
		}
		&._enemy-8 {
			animation: enemy-8 2s ease forwards;
		}
		&._enemy-9 {
			animation: enemy-9 2s ease forwards;
		}
		&._enemy-10 {
			animation: enemy-10 2s ease forwards;
		}
		&._enemy-11 {
			animation: enemy-11 2s ease forwards;
		}
		&._enemy-12 {
			animation: enemy-12 2s ease forwards;
		}

		&._hit-4 {
			animation: hit-4 1s ease;
		}
		&._hit-5 {
			animation: hit-5 1s ease;
		}
		&._hit-6 {
			animation: hit-6 1s ease;
		}
	}

	// .field__box

	&__box {
		min-height: 100%;
		img {
			width: 100%;
		}
	}

	// .field__image

	&__image {
		position: absolute;
		top: 43%;
		left: 50%;
		width: 60%;
		height: 80%;
		transform: translate(-50%, -50%);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
		&._loose {
			width: 100%;
			height: 100%;
		}
		// .field__image_1

		&_1 {
		}

		// .field__image_2

		&_2 {
		}
	}

	// .field__heroes

	&__heroes {
		position: absolute;
		bottom: rem(20);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		column-gap: rem(20);
		z-index: 2;
		@media (min-height: em(600)) {
			bottom: rem(120);
		}
	}

	// .field__heroe

	&__heroe {
		@include adaptiveValue("width", 130, 100, 800, 550, 1);
		@include adaptiveValue("height", 140, 110, 800, 550, 1);
		@media (min-height: em(600)) {
			@include adaptiveValue("width", 200, 170, 1200, 800, 1);
			@include adaptiveValue("height", 210, 180, 1200, 800, 1);
		}
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
		@media (min-height: em(600)) {
			row-gap: rem(25);
		}
		@media (max-height: em(360)) {
			@include adaptiveValue("width", 100, 70, 800, 550, 1);
			@include adaptiveValue("height", 110, 80, 800, 550, 1);
		}
		@media (max-height: em(320)) {
			@include adaptiveValue("width", 80, 60, 800, 550, 1);
			@include adaptiveValue("height", 90, 70, 800, 550, 1);
		}
	}

	&__heroe-inner {
		position: relative;
		&._moove-1 {
			animation: moove-1 2s ease forwards;
		}
		&._moove-2 {
			animation: moove-2 2s ease forwards;
		}
		&._moove-3 {
			animation: moove-3 2s ease forwards;
		}
		&._moove-4 {
			animation: moove-4 2s ease forwards;
		}
		&._moove-5 {
			animation: moove-5 2s ease forwards;
		}
		&._moove-6 {
			animation: moove-6 2s ease forwards;
		}

		&._moove-7 {
			animation: moove-7 2s ease forwards;
		}
		&._moove-8 {
			animation: moove-8 2s ease forwards;
		}
		&._moove-9 {
			animation: moove-9 2s ease forwards;
		}
		&._moove-10 {
			animation: moove-10 2s ease forwards;
		}
		&._moove-11 {
			animation: moove-11 2s ease forwards;
		}
		&._moove-12 {
			animation: moove-12 2s ease forwards;
		}

		&._hit-1 {
			animation: hit-1 1s ease;
		}
		&._hit-2 {
			animation: hit-2 1s ease;
		}
		&._hit-3 {
			animation: hit-3 1s ease;
		}
	}

	&__text {
		font-size: 32px;
		@include adaptiveValue("font-size", 32, 24, 800, 550, 1);
		line-height: math.div(39, 32);
		color: #ffffff;
		-webkit-text-stroke: 1px #000;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&_left {
			left: rem(-70);
			animation: text-left 1.5s ease forwards;
		}
		&_right {
			right: rem(-70);
			animation: text-right 1.5s ease forwards;
		}
	}

	// .field__image

	&__card-hero {
		min-height: 100%;
		img {
			width: 100%;
		}
	}

	// .field__man

	&__man {
		position: absolute;
		top: 43%;
		left: 50%;
		width: 70%;
		height: 100%;
		transform: translate(-50%, -50%);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
		&._loose {
			width: 100%;
			height: 100%;
		}
		// .field__man_1

		&_1 {
		}

		// .field__man_2

		&_2 {
		}
	}

	// .field__weapon-item

	&__weapon-item {
		position: absolute;
		bottom: 0;
		right: 0;
		@include adaptiveValue("width", 61, 45, 800, 550, 1);
		@include adaptiveValue("height", 61, 45, 800, 550, 1);
		@media (max-height: em(390)) {
			@include adaptiveValue("width", 51, 35, 800, 550, 1);
			@include adaptiveValue("height", 51, 35, 800, 550, 1);
		}
		@media (max-height: em(360)) {
			@include adaptiveValue("width", 41, 25, 800, 550, 1);
			@include adaptiveValue("height", 41, 25, 800, 550, 1);
		}
	}

	// .field__weapon-image

	&__weapon-image {
		height: 100%;
		img {
			max-width: 100%;
		}
	}

	// .field__sword

	&__sword {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		height: 75%;
		transform: translate(-50%, -50%);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
		// .field__sword_1

		&_1 {
		}

		// .field__sword_2

		&_2 {
		}
	}

	&__hero-health {
	}
	&__hero-energy {
		width: 100%;
		height: rem(9) !important;
	}
}
.health {
	min-height: rem(9);
	position: relative;
	span {
		&:last-child {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #213809;
			border-radius: rem(11);
		}
	}
	&__energy {
		background: linear-gradient(90deg, #64ff1c -2.62%, #589a16 113.37%);
		border-radius: rem(11);
		position: absolute;
		top: 50%;
		left: 0;
		height: 100%;
		transform: translateY(-50%);
		z-index: 2;
	}
}

.win {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease 0s;
	&._hide {
		opacity: 0;
		visibility: hidden;
		top: rem(150);
	}
	// .win__body

	&__body {
		width: 70%;
		height: 100%;
		position: relative;
		margin: 0 auto;
		@media (min-height: em(600)) {
			height: 70%;
		}
	}

	// .win__bg

	&__bg {
		position: absolute;
		width: 100%;
		top: rem(50);
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		text-align: center;
		img {
			max-width: 100%;
		}
		@media (min-height: em(600)) {
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	// .win__content

	&__content {
		position: absolute;
		top: rem(50);
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .win__icon

	&__icon {
		position: relative;
		top: rem(-30);
		@include adaptiveValue("width", 460, 400, 800, 550, 1);
		@include adaptiveValue("height", 160, 130, 800, 550, 1);
		background: url("@img/icons/button-big.png") center / contain no-repeat;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-top: rem(25);
		padding-left: rem(10);
		font-size: rem(50);
		line-height: math.div(60, 50);
		color: #034a3f;
		-webkit-text-stroke: 1px #fff;
		text-transform: uppercase;
	}

	// .win__money

	&__money {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: rem(15);
		margin-bottom: rem(20);
	}

	// .win__count

	&__count {
		font-size: rem(35);
		line-height: math.div(42, 35);
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	// .win__unlock-item

	&__unlock-item {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: rem(15);
		&._hide {
			opacity: 0;
			visibility: hidden;
		}
	}

	// .win__unlock-text

	&__unlock-text {
		font-size: rem(35);
		line-height: math.div(42, 35);
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	// .win__unlock-image

	&__unlock-image {
		img {
			max-width: rem(76);
		}
	}
	&__button {
		background: url("@img/icons/arrow-left.png") center / contain no-repeat;
		position: absolute;
		bottom: rem(100);
		left: 80%;
		width: rem(70);
		height: rem(70);
		transform: rotate(180deg);
		@media (min-height: em(600)) {
			bottom: rem(150);
			left: 75%;
		}
	}
}
.loose {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease 0s;
	&._hide {
		opacity: 0;
		visibility: hidden;
		top: rem(150);
	}
	// .loose__body

	&__body {
		width: 70%;
		height: 100%;
		position: relative;
		margin: 0 auto;
		@media (min-height: em(600)) {
			height: 70%;
		}
	}

	// .loose__bg

	&__bg {
		position: absolute;
		width: 100%;
		top: rem(50);
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		text-align: center;
		img {
			max-width: 100%;
		}
		@media (min-height: em(600)) {
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	// .loose__content

	&__content {
		position: absolute;
		top: rem(80);
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .loose__text

	&__text {
		font-size: rem(30);
		line-height: math.div(36, 30);
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom: rem(10);
	}

	// .loose__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		column-gap: rem(30);
		margin-bottom: rem(15);
	}

	// .loose__image

	&__image {
		img {
			max-width: rem(90);
			@media (max-height: em(350)) {
				max-width: rem(70);
			}
			@media (min-height: em(600)) {
				max-width: rem(180);
			}
		}
		// .loose__image_1

		&_1 {
		}

		// .loose__image_2

		&_2 {
		}
	}

	// .loose__button

	&__button {
		@include adaptiveValue("width", 250, 160, 800, 550, 1);
		@include adaptiveValue("height", 100, 70, 800, 550, 1);
		background: url("@img/icons/button-big.png") center / contain no-repeat;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-left: rem(10);
		@include adaptiveValue("padding-top", 20, 12, 800, 550, 1);
		font-size: rem(25);
		line-height: math.div(30, 25);
		color: #034a3f;
		-webkit-text-stroke: 0.6px #fff;
		text-transform: uppercase;
	}
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 0, 0);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 155, 155);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: yellow;
		transform: translateY(-3px);
	}
}
@keyframes show_item_y {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes show_item_x {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes fly_button {
	0%,
	40% {
		transform: translateX(200px);
		opacity: 0;
		z-index: 1;
	}
	60% {
		transform: translateX(-200px);
		z-index: 1;
		opacity: 1;
	}
	80% {
		transform: translateX(100px);
		z-index: 2;
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		z-index: 2;
		opacity: 1;
	}
}
@keyframes scale_button {
	0% {
		transform: translateX(-50%) scale(1);
	}
	100% {
		transform: translateX(-50%) scale(1.1);
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
		color: #fff;
	}
	100% {
		transform: scale(2);
		opacity: 0;
		color: rgb(255, 0, 34);
	}
}
@keyframes rotate {
	0%,
	100% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(-90deg);
	}
}
@keyframes moove-1 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(-40px, -70px) scale(1);
	}
	94% {
		transform: translate(0px, -100px) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) scale(1);
	}
}
@keyframes moove-2 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(40px, -70px) scale(1);
	}
	94% {
		transform: translate(0px, -100px) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) scale(1);
	}
}
@keyframes moove-3 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(-20px, -70px) rotate(-15deg) scale(1);
	}
	94% {
		transform: translate(5px, -100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-4 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(20px, -70px) rotate(15deg) scale(1);
	}
	94% {
		transform: translate(-5px, -100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-5 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(-20px, -50px) rotate(10deg) scale(1);
	}
	94% {
		transform: translate(5px, -100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-6 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(20px, -70px) rotate(-10deg) scale(1);
	}
	94% {
		transform: translate(-5px, -100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-7 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(-10px, -70px) scale(1);
	}
	94% {
		transform: translate(40px, -100px) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) scale(1);
	}
}
@keyframes moove-8 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(10px, -70px) scale(1);
	}
	94% {
		transform: translate(-40px, -100px) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) scale(1);
	}
}
@keyframes moove-9 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(0px, -70px) rotate(-15deg) scale(1);
	}
	94% {
		transform: translate(45px, -100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-10 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(0px, -70px) rotate(15deg) scale(1);
	}
	94% {
		transform: translate(-45px, -100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-11 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(-10px, -50px) rotate(10deg) scale(1);
	}
	94% {
		transform: translate(35px, -100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes moove-12 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(10px, -70px) rotate(-10deg) scale(1);
	}
	94% {
		transform: translate(-35px, -100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, -85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-1 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(-40px, 70px) scale(1);
	}
	94% {
		transform: translate(0px, 100px) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) scale(1);
	}
}
@keyframes enemy-2 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(40px, 70px) scale(1);
	}
	94% {
		transform: translate(0px, 100px) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) scale(1);
	}
}
@keyframes enemy-3 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(-20px, 70px) rotate(-15deg) scale(1);
	}
	94% {
		transform: translate(5px, 100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-4 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(20px, 70px) rotate(15deg) scale(1);
	}
	94% {
		transform: translate(-5px, 100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-5 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(-20px, 50px) rotate(10deg) scale(1);
	}
	94% {
		transform: translate(5px, 100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-6 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(20px, 70px) rotate(-10deg) scale(1);
	}
	94% {
		transform: translate(-5px, 100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-7 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(-10px, 70px) scale(1);
	}
	94% {
		transform: translate(40px, 100px) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) scale(1);
	}
}
@keyframes enemy-8 {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	80% {
		transform: translate(10px, 70px) scale(1);
	}
	94% {
		transform: translate(-40px, 100px) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) scale(1);
	}
}
@keyframes enemy-9 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(0px, 70px) rotate(-15deg) scale(1);
	}
	94% {
		transform: translate(45px, 100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-10 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	80% {
		transform: translate(0px, 70px) rotate(15deg) scale(1);
	}
	94% {
		transform: translate(-45px, 100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-11 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(-10px, 50px) rotate(10deg) scale(1);
	}
	94% {
		transform: translate(35px, 100px) rotate(-10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes enemy-12 {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
	70% {
		transform: translate(10px, 70px) rotate(-10deg) scale(1);
	}
	94% {
		transform: translate(-35px, 100px) rotate(10deg) scale(1.05);
	}
	100% {
		transform: translate(0px, 85px) rotate(0deg) scale(1);
	}
}
@keyframes rotate-arrow {
	0%,
	80% {
		transform: rotate(0);
	}
	85% {
		transform: rotate(-90deg);
	}
	90% {
		transform: rotate(-180deg);
	}
	95% {
		transform: rotate(-270deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes text-left {
	0% {
		left: rem(-70);
		opacity: 1;
	}
	100% {
		left: rem(-120);
		opacity: 0.3;
	}
}
@keyframes text-right {
	0% {
		right: rem(-70);
		opacity: 1;
	}
	100% {
		right: rem(-120);
		opacity: 0.3;
	}
}
@keyframes hit-1 {
	0%,
	50% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-1px, 3px);
	}
	65% {
		transform: translate(1px, 4px);
	}
	70% {
		transform: translate(-2px, 4px);
	}
	75% {
		transform: translate(2px, 4px);
	}
	80% {
		transform: translate(-3px, 5px);
	}
	85% {
		transform: translate(3px, 5px);
	}
	90% {
		transform: translate(-2px, 5px);
	}
	95% {
		transform: translate(2px, 5px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hit-2 {
	0%,
	50% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-1px, 3px);
	}
	65% {
		transform: translate(1px, 1px);
	}
	70% {
		transform: translate(-4px, 5px);
	}
	75% {
		transform: translate(4px, 2px);
	}
	80% {
		transform: translate(-10px, 10px);
	}
	85% {
		transform: translate(10px, 0px);
	}
	90% {
		transform: translate(-4px, 6px);
	}
	95% {
		transform: translate(4px, 0px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hit-3 {
	0%,
	50% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-1px, 5px);
	}
	65% {
		transform: translate(1px, 2px);
	}
	70% {
		transform: translate(-4px, 8px);
	}
	75% {
		transform: translate(4px, 5px);
	}
	80% {
		transform: translate(-10px, 8px);
	}
	85% {
		transform: translate(10px, 8px);
	}
	90% {
		transform: translate(-4px, 5px);
	}
	95% {
		transform: translate(4px, 5px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hit-4 {
	0%,
	50% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-1px, -3px);
	}
	65% {
		transform: translate(1px, -2px);
	}
	70% {
		transform: translate(-2px, -6px);
	}
	75% {
		transform: translate(2px, -3px);
	}
	80% {
		transform: translate(-3px, -8px);
	}
	85% {
		transform: translate(3px, -5px);
	}
	90% {
		transform: translate(-2px, -9px);
	}
	95% {
		transform: translate(2px, -3px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hit-5 {
	0%,
	50% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-1px, -4px);
	}
	65% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-4px, -4px);
	}
	75% {
		transform: translate(4px, 0px);
	}
	80% {
		transform: translate(-10px, -10px);
	}
	85% {
		transform: translate(10px, 0px);
	}
	90% {
		transform: translate(-4px, -4px);
	}
	95% {
		transform: translate(4px, 0px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes hit-6 {
	0%,
	50% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-1px, -8px);
	}
	65% {
		transform: translate(1px, -3px);
	}
	70% {
		transform: translate(-4px, -12px);
	}
	75% {
		transform: translate(4px, -8px);
	}
	80% {
		transform: translate(-10px, -12px);
	}
	85% {
		transform: translate(10px, -10px);
	}
	90% {
		transform: translate(-4px, -6px);
	}
	95% {
		transform: translate(4px, -3px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes volume {
	0%,
	100% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.1;
	}
}
